<h1>	Este es mi proyecto de name = {{project.name}} </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id facilis ea, animi harum rem reprehenderit officiis magnam. Laudantium, doloremque perferendis.</p>

<img src={{project.image}} alt={{project.name}} crossorigin="anonymous">